.conteiner {
    display: flex;

    width: 100%;
    min-height: 100vh;

    background:
        url('../assets/imagens/AguatoHome2.png'),

        linear-gradient(
        145deg,
        transparent 0%,
        transparent 31%,
        var(--cor-primaria-escura) 33% ,
        var(--cor-secundaria-escura) 48%,
        var(--cor-primaria-base) 60%,
        var(--cor-secundaria-escura) 72%,
        var(--cor-primaria-escura) 80%,
        transparent 83%
    ),

        radial-gradient(
            circle at top left,
            var(--bola-login3),
            transparent 30%
        ),
        radial-gradient(
            circle at bottom left,
            var(--bola-login2),
            transparent 35%
        ),

        radial-gradient(
            circle at center,
            var(--bola-login2),
            transparent 25%
        ),

        radial-gradient(
            circle at bottom right,
            var(--bola-login2),
            transparent 35%
        ),

        radial-gradient(
            circle at top right,
            var(--bola-login2),
            transparent 15%
        ),

        linear-gradient(
            60deg,
            var(--cor-primaria-base),
           var(--cor-primaria-clara)
        );

    background-size: cover;
    background-position: center;

    padding: 40px;

    flex-direction: column;
    justify-content: space-between;
}

.cardsSection{
    width: 100%;
    padding: 60px 40px;

    display: flex;
    justify-content: center;

    background: var(--background);
}

.infosSection{
    width: 100%;
    padding: 60px 40px;

    display: flex;
    justify-content: center;

    background: var(--background);
}

.intro{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.subtitulo{
    margin: 0;
    padding: 0;
    line-height: 1;
}

.content h1{
    line-height: 1;
}

.subtitulo{
    font-family: var(--fonte-subtitulo);
    font-size: var(--tamanho-titulo);
    color: var(--cor-secundaria-clara);
    letter-spacing: 25px;
    text-align: center;

    text-shadow:
        -2px -2px 0 var(--cor-secundaria-base),
         2px -2px 0 var(--cor-primaria-clara),
        -2px  2px 0 var(--cor-secundaria-clara),
         2px  2px 0 var(--cor-primaria-clara);
    text-transform: uppercase;
}

.content{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1{
    font-size: var(--tamanho-logo10);
    position: absolute;
    margin: 0;
    text-shadow:
        -2px -2px 0 var(--cor-primaria-clara),
         2px -2px 0 var(--cor-primaria-base),
        -2px  2px 0 var(--cor-secundaria-base),
         2px  2px 0 var(--cor-primaria-escura);
}

.content h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px var(--cor-primaria-clara);
    font-family: var(--fonte-titulo);
}

.content h1:nth-child(2){
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria-clara);
    animation:  infinite animate 4s ease-in-out;
}

@keyframes animate {
    0%, 100%{
        clip-path: polygon(
            0% 40%, 13% 44%, 27% 46%, 
            43% 55%, 55% 63%, 74% 66%, 
            89% 65%, 100% 58%, 100% 100%, 
            0% 100%
            );
    }
    50%{
        clip-path: polygon(
            0% 60%, 15% 66%, 35% 65%, 
            47% 55%, 60% 48%, 80% 48%, 
            95% 53%, 100% 63%, 100% 100%, 
            0% 100%
            );
    }
}

/*.titulo{
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-logo10);
    color: var(--cor-secundaria-base);
    text-shadow:
        -2px -2px 0 var(--cor-secundaria-clara),
         2px -2px 0 var(--cor-primaria-clara),
        -2px  2px 0 var(--cor-secundaria-escura),
         2px  2px 0 var(--cor-primaria-clara);
    margin-bottom: 10px;
}
*/

.box{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cor-terciaria-clara);
    text-align: right;
}

.texto{
    font-size: var(--tamanho-base3);
    color: var(--cor-secundaria-escura);
}

.texto2{
    font-size: var(--tamanho-base3);
    color: var(--cor-secundaria-base);
    border-left: solid 2px var(--cor-secundaria-base);
    font-weight: 550;
    text-align: center;
}

.botao{
    padding: 4px;
    max-width: 80px;
    max-height: 40px;
    background: linear-gradient(-180deg, 
        var(--cor-secundaria-base), 
        var(--cor-primaria-escura));
    border: none;
    border-radius: 20px;
    color: var(--cor-secundaria-clara);
    cursor: pointer;
    align-self: center;
    transition: .3s;
}

.botao:hover{
    background: linear-gradient(180deg, 
        var(--cor-secundaria-base), 
        var(--cor-primaria-clara));
}

.infos{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
}

@media (max-width: 768px){

    .conteiner{
        padding: 20px;
    }

    .content{
        height: 70px;;
    }

    .content h1{
        font-size: var(--tamanho-celular);
    }

    .infos{
        max-width: 300px;
    }

    .subtitulo{
        letter-spacing: 10px;
        font-size: var(--tamanho-celular2);
    }

    .texto{
        font-size: var(--tamanho-celular4);
    }
    
    .texto2{
        font-size: var(--tamanho-celular3);
    }
}

