.conteiner {
    display: flex;

    width: 100%;
    height: 100vh;

    background:
        url('../assets/imagens/AguatoHome2.png'),
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

        radial-gradient(
            circle at top left,
            var(--bola-login3),
            transparent 30%
        ),
=======
>>>>>>> 625fed13990097e59c8520dbcfd85ee7e2385eac
=======
>>>>>>> 625fed13990097e59c8520dbcfd85ee7e2385eac
=======
>>>>>>> 625fed13990097e59c8520dbcfd85ee7e2385eac
=======
>>>>>>> 625fed13990097e59c8520dbcfd85ee7e2385eac

        radial-gradient(
            circle at bottom left,
            var(--bola-login2),
            transparent 35%
        ),

        radial-gradient(
            circle at center,
            var(--bola-login2),
            transparent 25%
        ),

        radial-gradient(
            circle at bottom right,
            var(--bola-login2),
            transparent 35%
        ),

        radial-gradient(
            circle at top right,
            var(--bola-login2),
            transparent 15%
        ),

        linear-gradient(
            60deg,
            #86e1ff,
            #b6fbff
        );

    background-size: cover;
    background-position: center;

    padding: 40px;
}