.conteiner {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px;
}

.secao {
  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;

  padding: 12px;
}

.informacoes {
  background: linear-gradient(-90deg, var(--cor-secundaria-clara), var(--cor-primaria-clara));

  border-radius: 15px;

  padding: 20px;

  color: var(--cor-secundaria-escura2);

  display: flex;
  flex-direction: column;
}

.titulo {
  display: flex;
  align-items: center;

  gap: 12px;
}

.icone {
  width: 42px;
  height: 42px;

  color: var(--cor-secundaria-escura2);
}

.titulo h1 {
  margin: 0;

  font-size: 32px;
  font-weight: 800;
}

.titulo span {
  display: block;

  font-size: 13px;

  color: var(--cor-secundaria-escura);
}

.linha {
  width: 100%;
  height: 2px;

  margin: 10px 0;

  background-color: var(--cor-secundaria-escura2);
}

.informacoes p {
  margin: 5px 0;

  font-size: var(--tamanho-base1);
  line-height: 1.15;

  color: var(--cor-primaria-escura);
}

.classificacoes {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.nivel {
  min-height: 65px;
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(-90deg, var(--cor-secundaria-clara), var(--cor-primaria-clara));
}

.circulo {
  flex-shrink: 0;

  width: 52px;
  height: 52px;

  border-radius: 50%;
}

.nivel h2 {
  margin: 0;

  font-size: 24px;
  font-weight: 800;

  color: var(--cor-secundaria-escura2);
}

.nivel p {
  margin: 0;

  font-size: 11px;
  line-height: 1.05;

  color: var(--cor-secundaria-escura);
}

.critico .circulo {
  background-color: var(--cor-terciaria-erro);
}

.atencao .circulo {
  background-color: var(--cor-terciaria-atencao);
}

.ideal .circulo {
  background-color: var(--cor-terciaria-seguras);
}

.boa .circulo {
  background-color: var(--cor-terciaria-alertas);
}
