.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

    padding: 20px;
    background: var(--cor-fundo-transparente2);
}

.box{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px; 
    box-shadow: inset 0px 4px 10px var(--cor-fundo-transparente2);
}

.dados{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    text-align: center;
}

.dados h1{
    font-size: var(--tamanho-logo1);
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria-escura);
}

.dados h3{
    font-size: var(--tamanho-base2);
    color: var(--cor-secundaria-escura);
    font-family: var(--fonte-logo);
}

.box span{
    color: var(--cor-terciaria-clara);
    font-size: var(--tamanho-titulo);
    padding: 8px;
    border-radius: 6px;
}

.total{
    background: var(--cor-primaria-base);
}

.seguras{
    background: var(--cor-terciaria-seguras);
}

.alerta{
    background: var(--cor-terciaria-alertas);
}

.critica{
    background: var(--cor-terciaria-erro);
}
