.conteiner{
    width: 100%;
    padding: 20px 30px;
}

.intro{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    max-width: 100%;

    border-bottom: 1px solid var( --cor-secundaria-escura);
}

.titulo{
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-titulo);
    color: var(--cor-secundaria-base);
}

.intro p{
    color: var(--cor-primaria-escura);
}

.conta{
    display: flex;
    max-width: 100%;
    gap: 40px;
    margin-top: 25px;
    align-items: flex-start;
}

.fotoArea{
    position: relative;
    width: 100%;
    max-width: 170px;
}

.foto{
    width: 100%;
    width: 170px;
    aspect-ratio: 1;
    height: auto;
}

.formulario{
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-area: 16px;
    gap: 5px;
}

.campo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.campo label{
    width: 90px;
    font-weight: 700;
}

.campo input{
    flex: 1;
    height: 34px;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    background: var(--cor-fundo-transparente2);
}

.linha{
    display: flex;
    gap: 30px;
}

.linha .campo{
    flex: 1;
}

.botoes{
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

.botoes2{
    display: flex;
    gap: 25px;
    justify-content: flex-start;
}

.botao{
    min-width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 25px;

    cursor: pointer;
    transition: .3s;
    background: linear-gradient(-45deg, var(--cor-primaria-clara), var(--cor-secundaria-clara));
    color: var(--cor-secundaria-escura);
}

.botao:hover{
    background: linear-gradient(45deg, var(--cor-primaria-clara), var(--cor-secundaria-clara));
    font-weight: 700;
}

.fotoArea button{
    position: absolute;
    right: 10px;
    bottom: 10px;

    width:  40px;
    height: 40px;

    border: none;
    border-radius: 25px;

    cursor: pointer;
    transition: .3s;
    font-size: var(--tamanho-base2);
    background: linear-gradient(45deg, var(--cor-primaria-clara), var(--cor-secundaria-clara));
    color: var(--cor-primaria-escura);
}

.fotoArea button:hover{
    background: linear-gradient(-45deg, var(--cor-primaria-base), var(--cor-secundaria-clara));
    color: var(--cor-secundaria-escura);
}

.sessao{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 35px;
    padding-top: 25px;

    border-top: 1px solid var(--cor-primaria-escura);
}

.input{
    border:  1px solid transparent;
    transition:  .2s;
}

.input:read-only{
    background:  var(--cor-primaria-clara);
    color:  var(--cor-primaria-escura);
    cursor:  default;
}

.input:not(:read-only){
    background:  var(--cor-secundaria-clara);
    border:  1px solid var(--cor-primaria-escura);
}

.input:focus:not(:read-only){
    box-shadow:  0 0 5px var(--cor-primaria-clara);
    outline:  none;
}

@media (max-width: 768px){

    .conta{
        flex-direction: column;
        align-items: center;
    }

    .linha{
        flex-direction: column;
        gap: 5px;
    }

    .campo{
        flex-direction: row;
        align-items: flex-start;
    }

    .campo label{
        width: auto;
    }

    .botoes,
    .botoes2{
        flex-direction: column;
        gap: 5px;
    }

    .botao{
        width: 100%;
        min-width: 0;
    }

    .conteiner{
        padding: 20px 15px;
    }
}