.conteiner{
    height: 100vh;
    background: var(--cor-secundaria-escura);
    backdrop-filter: blur(10px);
    box-shadow:
        0 10px 30px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    transition: .3s;
}

.botaoMenu{
    margin: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--cor-primaria-clara);
}

.itemConteiner{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 12px;
    margin: 5px 10px;
    transition: .2s;
}

.itemConteiner span{
    color: var(--cor-primaria-clara);
    font-weight: 600;
    font-size: 1.2rem;
}

.itemConteiner:hover{
    background: var(--cor-primaria-escura);
}

.rotulo{
    white-space: nowrap;
}