.gridConteiner{
    background: var(--cor-primaria-base);
    display: grid;
    min-height:100vh;
    grid-template-columns:80px 1fr;
    grid-template-rows:1fr 230px;
    grid-template-areas:
    "lateral conteudo"
    "lateral rodape";

    transition: .3s;
}

aside{
    grid-area:lateral;
}

main{
    grid-area: conteudo;
    padding: 30px;
    transition: .35s;
}

footer{
    grid-area:rodape;
}