.gridConteiner {
    --largura-menu: 80px;
    --largura-menu-direita: 280px;

    width: 100%;
    min-height: 100vh;

    background: var(--cor-primaria-base);
}

.conteudo {
    width: calc(
        100% -
        var(--largura-menu) -
        var(--largura-menu-direita)
    );

    min-height: 100vh;

    margin-left: var(--largura-menu);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}


.areaConteudo {
    flex: 1;

    width: 100%;

    min-width: 0;
    min-height: 0;

    padding: 30px;

    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}


.gridConteiner > aside:last-child {
    position: fixed;

    top: 0;
    right: 0;

    width: var(--largura-menu-direita);
    height: 100vh;

    box-sizing: border-box;

    z-index: 2000;
}