.gridConteiner {
    background-color: var(--cor-terciaria-fundo);
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
        'lateral conteudo'
        'lateral rodape';
    transition: 0.3s;
}

aside {
    grid-area: lateral;
    position: fixed;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}
